/*GENERAL*/
html, body {
  height: 100%;
  background-color:black;
  font-family:Helvetica;
  color:white;
}

html {
  overflow-x: hidden;
}

.head {
  margin:auto;
  position: relative;
  z-index: 1;
}

.title {
  color:white;
  font-family:verdana;
  font-size:5em;
}

img.Youseph{
  border-radius: 50%;
}

.clearfix:after {
  content: "";
  display: table;
}

.nav-menu {
  top:0;
  left:0;
  position:fixed;
  z-index: 9999;
  width: 100%;
  height: 40px;
  background-color: black;
}

.sub-menu li{
  color:white;
  font-family: Arial;
  text-align: center;
  list-style-type: none;
}
.sub-menu a{
  text-decoration: none;
}

a.navtop:link, a.navtop:visited {
  display: inline-block;
  height: 40px;
  min-width: 300px;
  font-size: 12px;
  color: #FFFFFF;
  background-color: black;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway', Arial;
  letter-spacing: 2pt;
  overflow: hidden;
}

a.navtop:hover, a.navtop:active {
  background-color: #242424;
}

.sub-menu {
 position:relative;
 display:none;
 background: black;
}

.nav-menu ul li:hover > ul {
 display:list-item;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float:left;
  width:100%;
  overflow: hidden;
}

li.selected {
  float: left;
  width:25%;
  overflow: hidden;
}

li.first {
  float: left;
  width:25%;
  overflow: hidden;
}

a.navbar:link, a.navbar:visited {
  display: block;
  height: 40px;
  font-size: 12px;
  color: #FFFFFF;
  background-color: black;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway', Arial;
  letter-spacing: 2pt;
  overflow: hidden;
}

a.navbar:hover, a.navbar:active {
  background-color: #242424;
}

ul#navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 22px;
  font-family: 'Verdana';
  color: white;
  background-color: black;
}
ul#navigation li {
  list-style: none;
}

th.committeeTitle {
  font-size:25px;
}

.committeeAbout {
  font-size:20px;
}

/*HOME*/


/*LEADERSHIP*/
.faceImg {
  border-radius:50%;
}

.faceImg:hover{
  -webkit-filter: grayscale(75%);
}

.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
  background-color:grey;
}

#section1{
  padding-top:20px;
  height:600px;
  color: #fff;
  background-color: black;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  background-image: url("../img/Cover.png");
}
#section2{
  padding-top:30px;
  height:350px;
  color: #fff;
  background-color: black
}
#section2half{
  padding-top:30px;
  height:350px;
  color: #fff;
  background-color: #008CBA
}
#section6 {
  padding-top:10px;
  height:80px;
  color: #fff;
  background-color: black
}


/*FEM*/
#section1-fem{
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  background-image: url("../img/fem/femCover.jpg");
  padding-top:10px;
  height:550px;
}
#section2-fem {
  padding-top:10px;
  height:600px;
}


/*JUST*/
#section1-just{
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  background-image: url("../img/just/justCover.jpg");
  padding-top:10px;
  height:550px;
  color: #fff;
  background-color: black;
}
#section2-just{
  padding-top:10px;
  height:500px;
}


/*ENVIRO*/
#section1-enviro{
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  background-image: url("../img/enviro/environCover.jpg");
  padding-top:10px;
  height:550px;
}
#section2-enviro {
  padding-top:10px;
  height:350px;
}

/*Stonewall*/
#section1-stonewall{
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  background-image: url("../img/stonewall/stonewallCover.jpg");
  padding-top:10px;
  height:550px;
}
#section2-stonewall {
  padding-top:10px;
  height:400px;
  width:85%;
}


/*EVENTS*/
